h3
{
    font-size: 30px;
    color: black;
}
canvas {
    background-color: black;
}
#take_snapshot
{
    background-color: #f4c2c2;
    text-decoration-color: black;
    color: black;
}
header {
    min-height: 50px;
    background-color: #f4c2c2;
    position:fixed;
    left: 0px;
    right: 0px;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
